.options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position:relative;

}

.option{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  padding: 5px 0;
  height: 100px;
  width: 100px;
  transition: .7s;
  cursor: pointer;
}

.activated {
  transform: scale(1.05);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.final-Answer{
  display: none;
  position:absolute;
  z-index: 10;
  text-align: center;
  border: 5px; 
  background-color: aqua;
  top: 200px;
}

.correctScreen{
  display: none;
  position: absolute;
  z-index: 10;
  text-align: center;
  border: 5px; 
  background-color: rgb(7, 255, 28);
  top: 200px;
}

.gameOver{
  display: none;
  position: absolute;
  z-index: 10;
  text-align: center;
  border: 5px; 
  background-color: rgb(255, 7, 7);
  top: 200px;
}

.freezeBackground{
  background-color: grey;
}

#mainQuestion{
  margin: auto;
  width: 50%;
  text-align: center;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.score{
  float: right;
  clear: both;
}
